# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
.env
.env.local
.env.*.local
.venv/
env/
venv/
ENV/

# Google Drive API credentials
credentials.json
token.json

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# PyCharm
.idea/

# Data dan Model (sesuaikan jika perlu)
data/raw/*
data/processed/*
models/*

# Sistem operasi
.DS_Store
Thumbs.db

# Conda installer
Miniconda3-latest-Linux-x86_64.sh